$bg-color: #333;
$fg-color: #555;
$active-color: #ccc;
$passive-color: #777;

/* Base styles */
body {
  margin: 2rem 0;
  color: $active-color;
  background: rgba($bg-color, .95);
}

header {
  border-bottom: 1px solid goldenrod;
  margin: 0 -15px;
}

/* Save content flow */
header, .main, .nav {
  margin-bottom: 1rem;
}

.nav > li > a {
  color: $passive-color;
  border: 1px solid;
  border-radius: 1px;
  transition: all .3s ease-in-out;
  vertical-align: top;
}

.nav > li > a:focus, .nav > li > a:hover, .nav > li.active > a {
  background-color: $fg-color !important;
  color: inherit !important;
  border: 1px solid $fg-color !important;
}

.container {
  max-width: 720px;
  background-color: $bg-color;
  border-radius: 3px;
}

.vertical-text>li {
  transform: rotate(90deg);
  transform-origin: 25% 60%;
  height: 35px;
  width: 85px;
  margin-bottom: 5.0rem;
}

.vertical-text {
  border: none;
}

.main {
  border: 1px solid $fg-color;
}

.main > div {
  padding: 1rem;
  height: 70px;
  transition: all .3s ease-in-out;
}

.main > div:hover {
  background: $fg-color;
  opacity: .75;
  cursor: pointer;
}

.main img {
  width: 48px;
  padding: 5px;
  border-bottom: 1px solid goldenrod;
}

.main img.offline {
  color: transparent;
  border-color: $fg-color !important;
}

div.col-xs-1 {
  padding: 0;
}

.col-xs-11 {
  padding: 0 1rem;
}

p {
  margin: 0;
}

div .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}